NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
NEXT_PUBLIC_SITE_URL=https://www.mokshyafoods.com.np
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_oauth_client_id
